{% extends "base.html" %}

{% block content %}
    <h1>Submit something creative</h1>
    <form method="post">
        <label>
            <div>title</div>
            <input type="text" id="title" name="title" value="{{title}}"/>
        </label>
        
        <label>
            <div>art</div>
            <textarea name="art" id="art">{{art}}</textarea>
        </label>
        <div class="error">{{error}}</div>      
        
        <input type="submit" />
    </form>
    
    {% if image_url %}
        <img class='map' src='{{image_url}}'/>
    {% endif %}
    <hr>
    
    <div>
        {% for art in arts %}
            <div class="art">
                <div class="art-title">{{art.title}}</div>
                <pre class="art-body">{{art.art}}</pre>
            </div>
        {% endfor %}
    </div>
{% endblock %}
